<hr>


<div class = "container">

<div class = "lindsay col-lg-4">
	<h1>Lindsay Hammon</h1>
	<%=image_tag "", class: "about-image col-lg-10"%>
	<p>Thank you for taking the time to consider IhAVE. I have always been interested in creative solutions and see programming as an opportunity to develop better systems that will answer critical demands in any field. </p>
</div>

<div class = "joon col-lg-4">
	<h1>Joon Park</h1>
	<%=image_tag "", class: "about-image col-lg-10"%>
	<p>Joon Park. Serial Ruby enthusiast. Professional gamification. Self-styled violinist. Baked goods aficionado. Twitter noob.</p>
</div>

<div class = "marcos col-lg-4">
	<h1>Marcos Gozales</h1>
	<%=image_tag "marcos.jpg", class: "about-image col-lg-10"%>
	<p>I love playing video games was once pro. I like being active outside playing sports my favorite is basketball. I love coding, I have been coding for about 5 months. If there is anything else you want to know about new feel free to talk to me after the presentation.</p>
</div>

<hr class = "col-lg-12">


<footer>
<p> This application is built for you, let us know how you use it, or better yet how we can improve. <%= mail_to("ihavetest@gmail.com") %> Our thanks to <%= link_to( "Dev Point Labs", "http://www.devpointlabs.com/" ) %>&reg;  for there expertise and support  </p>
</footer>
</div>
