<hr>

<div class = "container">

<div class = "lindsay col-lg-4">
	<h1>Lindsay Hammon</h1>
	<%=image_tag "", class: "about-image col-lg-10"%>
	<p>Thank you for taking the time to consider IhAVE. I am new to programing but, excited to continue learning in the programing industry</p>
</div>

<div class = "joon col-lg-4">
	<img src="">
	<h1>Joon Park</h1>
	<%=image_tag "", class: "about-image col-lg-4"%>
</div>

<div class = "marcos col-lg-4">
	<h1>Marcos Gozales</h1>
	<%=image_tag "marcos.jpg", class: "about-image col-lg-10"%>
	<p>I love playing video games was once pro. I like being active outside playing sports my favorite is basketball. I love coding, I have been coding for about 5 months. If there is anything else you want to know about new feel free to talk to me after the presentation.</p>
</div>

<hr class = "col-lg-12">
<h5>We at IhAVE recognized that effective inventory software was expensive and in many cases too specialized to be useful to both the casual organizer and the less than specialized individual/business. With solving this as our goal , we built the app you see now. 
	IhAVE is a simple lightweight inventory application built to meet the needs of a variety of personal and professional needs. This is evident in the clean, intuitive and easy to use interface. The workflow just makes sense: add an item with (or without) a photo in the location you are planning to keep it in, enter any data you think is relevant, never wonder how many plates you have or what type of toner your printer takes!</h5>

<h4> This application is built for you, let us know how you use it, or better yet how we can improve. <%= mail_to("ihavetest@gmail.com") %> </h4>

<p>Our thanks to <%= link_to( "Dev Point Labs", "http://www.devpointlabs.com/" ) %>&reg;  for there expertise and support  </p>
</div>
