<div class="background-picture"> 
  <div class="container">  
    <div class="row"> 
      <div class="col-md-8 col-md-offset-2"> 
       
	        <h1 class="tagline"> Keep Track of Your Treasures</h1>
<!-- Button trigger modal -->
		        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signUp">
              Organize your life
            </button>
          </div>
        </div>
      </div>
    </div>

<div class="how_to_use"> 
  <div class="container"> 
    <div class="row">
      <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4"> <span class="glyphicon glyph glyphicon-home"></span>Step One: Pick your location: a garage, a basement, a shed, underneath your bed or at the back of your closet! </div>
       <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4"> <span class="glyphicon glyph glyphicon-camera"></span>Step Two: Take a picture of your items so that you will never lose them again! </div>
         <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4"> <span class="glyphicon glyph glyphicon-hand-right"></span>Step Three: Choose if your item is lendable and for the amount of days you would allow it out. </div>
    </div>
  </div>
</div>

<div class="aboutteam"> 
  <div class="container"> 
    <div class="row">
      <div class="col-md6">About The Team </div>
    </div>
  </div>
</div>

<div class="team"> 
  <div class="container"> 
    <div class="row">
      <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4"> <%= link_to("Lindsay Hammon", about_path)  %> </div>
       <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4"><%= link_to("Joon Park", about_path)%></div>
         <div class="col-md-4 col-lg-4 col-xs-12 col-sm-4"><%= link_to("Marcos Gonzales", about_path)%> </div>
    </div>
   
		<h6> This application is built for you, let us know how you use it, or better yet how we can improve. <%= mail_to("ihavetest@gmail.com") %> Our thanks to <%= link_to( "Dev Point Labs", "http://www.devpointlabs.com/" ) %>&reg;  for there expertise and support  </h6>

  </div>
</div>
     
    <!-- Modal -->
		<div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		      	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <%= render file: '/devise/registrations/new.html.erb' %>
		      </div>
		      <div class="modal-footer">
				  <div class="form-actions">
				    <%= link_to "Sign in with Google+", user_omniauth_authorize_path(:google_oauth2), class: "btn btn-primary center-content" %>
				  </div>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		      	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <%= render file: '/devise/sessions/new.html.erb' %>
		      </div>
		     
		    </div>
		  </div>
		</div>

	</div>
</div>

