<div class ="item-block user-item-block over-due-item-block checked-out-item search-block">
	
	<div class = "item-avatar img-center">
  	<%= link_to (image_tag item.avatar.url(:medium)), location_item_path(item.location_id, item.id), remote: true %>
  </div>
  
  <div class = "divider"></div>
  <div class = "location-info"> 
  	<p class="text-center">
      <h4><%= item.name %></h4>
      <%= link_to "Edit", location_item_path(item.location_id, item.id, btn: 1), method: "get", remote: true, class: "btn btn-primary btn-xs" %>

      <% if item.records.count > 0 %>
        <%= link_to "History", location_item_records_path(item.location_id, item), class: "btn btn-primary btn-xs" %>
      <% end %>

      <% if item.is_borrowed %>
        <%= link_to "Item returned to lender?", location_item_path(item.location_id, item), method: :delete, class: "btn btn-danger btn-xs" %>
      <% end %>
    </p>

      <p><span class="tags"> <%= raw item.tag_list.map { |t| link_to t, tag_path(t, item_id: item.id, location_id: item.location.id) }.join(', ') %></span></p>
    </div>
</div>
