<h1><%= @location.name.upcase %> Items</h1>

<div class="main-button-content">
  <%= link_to "Back", locations_path, class:"btn btn-primary" %>
</div>


<div class="field">
  <%= form_tag(location_item_search_path(@location), method: "get", remote: true) do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag :q, nil, placeholder: 'Search item name/tags' %>
    <%= submit_tag("Search") %>
  <% end %>
</div>

<div class="search-results">
  <% if @results %>
    <%= @results %>
  <% end %>
</div>

  <div class="container-fluid ">
    <div class ="row image-tiles">
      <% @items.each do |item| %>
          <div class="col-xs-12 col-md-4 col-lg-3 display item-block">
            <%= link_to (image_tag item.avatar.url(:medium)), location_item_path(@location, item), remote: true %>
            <p>Tags: <%= raw item.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
      <%end%>
      <%= link_to '', new_location_item_path(@location,@item), class:"fa fa-plus fa-3x", remote: true %>




<div id='modal-div'>
</div>

<div id='show-modal-div'>
</div>