<h1><%= @location.name.upcase %> Items</h1>

<div class="main-button-content">
  <%= link_to "Add New item", new_location_item_path(@location,@item), class:"btn btn-primary", remote: true  %>
  <%= link_to "Back", locations_path, class:"btn btn-primary" %>
</div>
  
<div class="field">
  <%= form_tag(location_item_search_path(@location), method: "get", remote: true) do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag :q, nil, placeholder: 'Search item name/tags' %>
    <%= submit_tag("Search") %>
  <% end %>
</div>

<div class="search-results">
  <% if @results %>
    <%= @results %>
  <% end %>
</div>



  <div class="container-fluid ">
    <div class ="row image-tiles">
      <% @items.each do |item| %>
          <div class="col-xs-12 col-md-3 col-lg-4 display item-block">
            <div class = "item-img">
                <%= image_tag item.avatar.url(:medium) %>
            </div>
                <h2><%=item.name%></h2>
          </div>
          <%end%>
    </div>
  </div>

<div id='modal-div'>
</div>

