
<%= bootstrap_form_for [@location, @item] do |f| %>

<%= f.file_field :avatar %>
  
  <%= f.text_field :name %>

  <%= f.text_area :description %>

  <%= f.check_box :is_out, class: "checkbox" %>
  
  <div class="record-form">
    <%= f.fields_for :records do |records_form| %>

      <%= records_form.text_field :date_due %>

      <%= records_form.text_field :borrower_name %>
    <% end %> 
  </div>

	<%= f.text_field :tag_list %>


  <%= f.submit %>

<% end %>

	
