
<%= bootstrap_form_for [@location, @item] do |f| %>

<%= f.file_field :avatar %>
  
  <%= f.text_field :name %>

  <%= f.text_area :description %>

  <%= f.check_box :is_out, class: "checkbox" %>
  
  <div class="record-form">
    <%= f.fields_for :records do |records_form| %>

      <%= records_form.text_field :borrower_name %>

      <%= records_form.text_field :date_due, class: "date" %>
    <% end %> 
  </div>

  <ul id="myTags">
    <!-- Existing list items will be pre-added to the tags -->
    <li>Tag1</li>
    <li>Tag2</li>
  </ul>

	<%= f.text_field :tag_list %>


  <%= f.submit %>

<% end %>

	
