<% if !@results.empty? %>
	alert('results found');
	console.log("<p>Search results:</br>" +
		"<%= @results.map { |result| result.name }.join('<br/>') %>");
	$('.search-results').empty().append("<h1>Search results: <%= j params[:q] %></h1><hr>" + "<%= j render 'search_results' %><hr><h1>All Items</h1>");

	// $('.search-results').empty().append("<p>Search results: </br>"); 
	// <% @results.each do |result| %>
	// 	$('.search-results').append(<%= link_to "#{result}", location_item_path(result.location_id, result.id) %>);
	// <% end %>
	// $('.search-results').empty().append("<p>Search results: </br>" + "<%= @results.map { |result| result.name }.join(', ') %>");

<% else %>

	alert('nothing to display');
	$('.search-results').empty().append("<h1>No results found. Try searching again.</h1><hr>" );		
<% end %>
