<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified jquerytabs" role="tablist">
    <li role="presentation" class="active"><a href="#locations" aria-controls="home" role="tab" data-toggle="tab">Locations</a></li>
    <li role="presentation"><a href="#items" aria-controls="profile" role="tab" data-toggle="tab">All Items</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Out Items</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Overdue Items</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="locations">
      <h1>Hi <%= current_user.username %></h1>
      <div class="container-fluid">
        <div class="row image-tiles">
          <% if current_user.locations %>
          <% else %>
              <h1>Lets get started</h1>
              <p> click the blue + sign to create a location</p>
          <% end %>

          <div class="search-results">
            <% if @results %>
                <%= @results %>
            <% end %>
          </div>

          <div id="masonry_container">
            <div class="item-block">
              <div class="add-more">
                <%= link_to '', new_location_path, class:"fa fa-plus fa-5x", remote: true %>
              </div>
            </div>
                        <% @locations.each do |location| %>
                <%= render partial: 'location', locals: {location: location} %>
            <% end %>
          </div>
        </div>
        
        <div id="infinite-scrolling">
          <%= paginate @locations %>
        </div>

      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="items">
      <h1>All Items</h1>

        <div id="user_items">
          <% @user_items.each do |item| %>
             <%= render partial: 'items/item', locals: {item: item }%>

          <%end%>
        </div>

      <div id="infinite-scrolling">
        <%= paginate @user_items %>
      </div>
    </div>


    <div role="tabpanel" class="tab-pane" id="messages">
      <h1>Out Items</h1>
      <div class="container-fluid ">
        <div id="checked_out_items">
          <% @cheked_out.each do |item| %>
          <%= render partial: 'items/item', locals: {item: item} %>

          <%end%>
        </div>
      </div>
      <div id="infinite-scrolling">
        <%= paginate @cheked_out %>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="settings">
      <h1>Overdue Items</h1>
      <div class="container-fluid ">
        <div id="overdue_items">
          <% @overdue.each do |item| %>
            <%= render partial: 'items/item', locals: {item: item} %>
          <% end %>
        </div>
        <div id="infinite-scrolling">
          <%= paginate @overdue %>
        </div>
      </div>
      <div id="infinite-scrolling">
        <%= paginate @locations %>
      </div>
    </div>


  </div>
</div>

<div id='show-modal-div'>
</div>

<div id='modal-div'>
</div>
