<div class="main-button-content">
	<p>Hi <%= current_user.username %></p>
	<%= image_tag @user.avatar.url(:thumb) %>
</div>

<h1>Lets get started</h1>

<div class="center-text">
	<%= link_to 'New Location', new_location_path, class: 'btn btn-primary' %>
</div>


<div class="container">
	<div class="row image-tiles">
		<% @locations.each do |location| %>
			<%= render partial: 'location', locals: {location: location} %>
		<% end %>
	</div>
	<div id="infinite-scrolling">
		<%= paginate @locations %>
	</div>
</div>


