<div class="container">
  <div class="row image-tiles">
    <div class="main-button-content">
      <h2>Hi <%= current_user.username %></h2>
    </div>

    <% if current_user.locations %>
        <% else %>
            <h1>Lets get started</h1>
    <%end%>



<div class="search-results">
  <% if @results %>
    <%= @results %>
  <% end %>
</div>



    <% @locations.each do |location| %>
		<%= render partial: 'location', locals: {location: location} %>
	<% end %>
    <%= link_to '', new_location_path, class:"fa fa-plus fa-5x", remote: true %>

  </div>
	<div id="infinite-scrolling">
		<%= paginate @locations %>
	</div>
</div>
<div id='modal-div'>
</div>


