<h1>Locations#index</h1>
<p>Find me in app/views/locations/index.html.erb</p>


<p>Hi user: <%= @user.id %></p>
<div class="center-text">
	
		<%= link_to 'New Location', new_location_path, class: 'btn btn-primary' %>
	
</div>

<div class="container">
	<div class="row image-tiles">
		<% @locations.each do |location| %>
			<div class="col-xs-6 .col-sm-4 image-tile">
				<h3><%= link_to location.name, location_items_path(location) %></h3>
				<p><%= link_to 'Edit', edit_location_path(location), class: 'btn btn-primary' %> <%= link_to 'Delete', location_path(location), method: :delete, class: 'btn btn-primary' %></p>
				<p><%= location.description %></p>
				<p><%= link_to 'New Item', new_location_item_path(location), class: 'btn btn-primary' %></p>
				<img src="http://placekitten.com/g/300/300">

			</div>
			

		<% end %>
	</div>
</div>


