<h1>Locations#index</h1>
<p>Find me in app/views/locations/index.html.erb</p>


<p>Hi user: <%= @user.id %></p>
<div>
	
		<%= link_to 'New Location', new_location_path, class: 'btn btn-lrg' %>
	
</div>

<% @locations.each do |location| %>
	<p>location id: <%= location.id %></p>
	
	<p>Location:<%= link_to location.name, location_items_path(location) %></p>
	<%= link_to 'New Item', new_location_item_path(location) %>


	
	<p>Description: <%= location.description %></p>

<% end %>

