<div class="container">
  <div class="row image-tiles">
    <div class="main-button-content">
      <h2>Hi <%= current_user.username %></h2>
    </div>

    <% if current_user.locations %>

    <% else %>
        <h1>Lets get started</h1>
        <p> click the blue + signe to creae a location</p>
    <%end%>



<div class="search-results">
  <% if @results %>
    <%= @results %>
  <% end %>
</div>
    <% @locations.each do |location| %>
		<%= render partial: 'location', locals: {location: location} %>
	<% end %>
  </div>
	<div id="infinite-scrolling">
		<%= paginate @locations %>
	</div>

        <%= link_to '', new_location_path, class:"fa fa-plus fa-5x", remote: true %>
</div>
<div id='modal-div'>
</div>


