<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-center">
      <div class = "nav-logo">
        <%= link_to((image_tag "Logo-2.png", size: "150x75"), root_path) %>

      </div>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>

            <!-- Single button -->
            <div class="btn-group">
              <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                New <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
               <% current_user.locations.each do |location|%>
                    <li><%= link_to ("Item at  #{location.name}"), new_location_item_path(location), remote: true %></li>
                <%end%>
                <li class="divider"></li>
                <li> <%= link_to 'Location', new_location_path, class: 'btn btn-primary', remote: true %></li>
              </ul>
            </div>







          <li>
            <%= form_tag(global_search_path) do %>
              <%= text_field_tag :q, nil, placeholder: 'Search item name' %>
              <%= submit_tag("Search") %>
            <% end %>
          </li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>  
        <% else %>
          <li><%= link_to 'Sign in', new_user_session_path, data: {toggle: "modal", target: "#signIn"}, remote: true %></li>
          <li><%= link_to 'Join', new_user_registration_path, data: {toggle: "modal", target: "#signUp"}, remote: true %></li>

        <% end %>  
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
