<!DOCTYPE html>
<html>
<head>
  <title>IhAVE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		
	<section id="container" >
		<%= render 'layouts/header' %>
	</section>
	<%= render 'layouts/sidebar' %>
	
<!--main content start-->
<section id="main-content">
  <section class="wrapper">
<%= yield %>
	</section>
</section>

</body>
</html>
