<!DOCTYPE html>
<html>
<head>
  <title>IhAVE</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Fixed navbar -->
   <%= render('layouts/header') %>

    <!-- Begin page content -->
    <div class="container">
      <%= yield %>
    </div>

    <%= render('layouts/footer') %>
    <%= javascript_include_tag 'application' %>
</body>
</html>
